<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.btheb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.btheb">
        <activity android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".Checkout"
            android:exported="true" />
        <activity
            android:name=".Forgot_pwd"
            android:exported="true" />
        <activity
            android:name=".BrandActivity"
            android:exported="true" />
        <activity
            android:name=".Bottom_Nav"
            android:exported="true" />
        <activity
            android:name=".All_product"
            android:exported="true" />
        <activity
            android:name=".Search_keyword"
            android:exported="true" />
        <activity
            android:name=".Voucher"
            android:exported="true" />
        <activity
            android:name=".AllSports"
            android:exported="true" />
        <activity
            android:name=".MyAccount"
            android:exported="true" />
        <activity
            android:name=".SignIn"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".Message"
            android:exported="true" />
        <activity
            android:name=".Delivery"
            android:exported="true" />
        <activity
            android:name=".CustomerServiceActivity"
            android:exported="true" />
        <activity
            android:name=".FAQ"
            android:exported="true" />
        <activity
            android:name=".Language"
            android:exported="true" />
        <activity
            android:name=".Track_My_Order"
            android:exported="true" />
        <activity
            android:name=".My_voucher"
            android:exported="true" />
        <activity
            android:name=".Track_order_Details"
            android:exported="true" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>